# Import File to DataFrame

In [2]:
import pandas as pd

In [33]:
CSV_1 = pd.read_csv('โรงแรมคอซ ราชเทวี(COZ Ratchathewi).csv').drop(['Unnamed: 0','index'],axis=1)
CSV_2 = pd.read_csv('โรงแรมคิวบิก ประตูน้ำ(Cubic Pratunam).csv').drop(['Unnamed: 0','index'],axis=1)
CSV_3 = pd.read_csv('โรงแรมบางกอกซิตี้โฮเทล(Bangkok City Hotel).csv').drop(['Unnamed: 0'],axis=1)
CSV_4 = pd.read_csv('โรงแรมประตูน้ำ คาซ่า(Pratunam Casa).csv').drop(['Unnamed: 0','index'],axis=1)
CSV_5 = pd.read_csv('โรงแรมรอยัล รัตนโกสินทร์(Royal Rattanakosin Hotel).csv').drop(['Unnamed: 0'],axis=1)
CSV_6 = pd.read_csv('โรงแรมวินซ์โฮเทล ประตูน้ำ(Vince Hotel Pratunam).csv').drop(['Unnamed: 0'],axis=1)
CSV_7 = pd.read_csv('โรงแรมสยามแอทสยาม ดีไซน์ โฮเทล กรุงเทพ(Siam@Siam .csv').drop(['Unnamed: 0'],axis=1)
CSV_8 = pd.read_csv('โรงแรมสำราญเพลส (Samran Place Hotel).csv').drop(['Unnamed: 0'],axis=1)
CSV_9 = pd.read_csv('โรงแรมฮอลิเดย์ อินน์ เอ็กซ์เพรส บางกอก สยา.csv').drop(['Unnamed: 0'],axis=1)
CSV_10 = pd.read_csv('โรงแรมเอเชีย กรุงเทพ (Asia Hotel Bangkok).csv').drop(['Unnamed: 0'],axis=1)
CSV_11 = pd.read_csv('โรงแรมเอเวอร์กรีน เพลส สยาม บาย ยูเอชจี(Evergreen.csv').drop(['Unnamed: 0'],axis=1)
CSV_12 = pd.read_csv('โรงแรมไอบิส กรุงเทพ สยาม(Ibis Bangkok Siam).csv').drop(['Unnamed: 0'],axis=1)
CSV_13 = pd.read_csv('โรงแรมไอบิส แบงค็อก สยาม(Ibis Bangkok Siam).csv').drop(['Unnamed: 0','index'],axis=1)

In [35]:
df = pd.concat([CSV_1, CSV_2, CSV_3, CSV_4, CSV_5, CSV_6, CSV_7, CSV_8, CSV_9, CSV_10, CSV_11, CSV_12, CSV_13])

In [36]:
df

                                               Review  Rating
0   สะอาด อาหารเช้าดี บริการดี ราคาเหมาะสม อยู่ไม่...    10.0
1                                     ที่พักทำเลดีมาก    10.0
2   ใกล้ bts เดินทางสะดวก มีร้านนวดร้านอาหารอีสานใ...     8.8
3                                                   .    10.0
4                เข้าพักช่วงโควิด ลดราคาถูก กลางเมือง    10.0
..                                                ...     ...
75  จองไว้สามห้อง เพราะเช้าต้องมีไปทำธุระแถวสยาม ก...     4.0
76  1. ทำเลดีมาก เดินขึ้น BTS ได้เลย 2. ราคาค่อนข้...    10.0
77  14 น ตามที่แจ้งว่าสามารถเช็คอินได้ แต่เมื่อไปถ...     7.6
78                                       ห้องพักสะอาด    10.0
79                             อีก 2 เดือนเจอกันนะค่ะ     9.6

[860 rows x 2 columns]

# Export Pandas to CSV

In [38]:
df.to_csv('Unseen_data_raj.csv')